* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 40px;
    line-height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 15px;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.cont {
    flex: 1;
    width: 100%;
}

.nav {
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
}

.footer {
    height: 40px;
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 200px;
}

.swiper-slide {
    width: 100%;
    height: 100px;
}

.active {
    background: red;
}